@font-face {
    font-family: 'Chewy';
    src: url('file:///android_asset/fonts/Chewy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Coiny';
    src: url('file:///android_asset/fonts/Coiny-Regular.ttf') format('truetype');
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: "Roboto", serif; */
}

body {
    background: linear-gradient(to left, violet, rgb(60, 60, 205));
    /* backdrop-filter: blur(40px);  */
}

.container {
margin-top:10px;
    width: 100%;
    min-height:calc(var(--vh, 1vh) * 100);
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    /*padding-bottom: 60px;
    margin-bottom: 80px;*/
}

#rules {
width: 100%;
min-height: calc(var(--vh, 1vh) * 100);
display:none;
}

#rules h1{
font-family: "Chewy", serif;
        /*font-size: 20vw;*/
        font-size: clamp(40px, 20vw, 150px);
        font-weight: 400;
        text-align: center;
        font-style: normal;
        margin-bottom: 7%;
    color:rgb(237, 227, 179);
    text-shadow:0 5px 10px black;
}

#rules p, li{
font-family: "Chewy", serif;
        /*font-size: 5vw;*/
        font-size: clamp(16px, 5vw, 32px);
        font-weight: 400;
        padding: 10px;
        text-align: center;
        font-style: normal;
    color:rgb(237, 227, 179);
list-style: none;
}

#instruction-container {
    display: none;
    position: fixed;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    /*width: 100%;
    height: auto;*/
    width: 90%;
        max-width: 600px;
        min-height: 200px;
    background: rgba(15, 3, 50, 0.8);
    padding: 20px;
      border: 2px solid #007bff;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    text-align:center;
    z-index: 999;
}

.instructionBtn,
.backBtn {
    font-size: 35px;
    border: none;
    background: inherit;
}

.instructionBtn i,
.backBtn i {
    font-size: 45px;
    background-color: rgb(237, 227, 179);
    border-radius: 50%;
    box-shadow: 0 0 15px yellow;
}

.closeBtn,
#next-btn {
    width: 50%;
    max-width: 200px;
    min-height: 60px; /* Naudojamas min-height */
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Chewy", serif;
    font-size: clamp(14px, 7vw, 32px); /* Naudojamas clamp */
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.closeBtn {
    color: rgb(237, 227, 179);
    background: rgb(114, 77, 226);
}

#next-btn {
    margin-bottom: 10px;
    background: rgb(237, 227, 179);
    color: rgb(114, 77, 226);
}

.start-container {
    width: 100%;
    /*height: 100%;*/
    min-height: calc(var(--vh, 1vh) * 100);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);

}

.start-container h1 {
    width: 100%;
    font-family: "Chewy", serif;
    /*font-size: 20vw;*/
    font-size: clamp(40px, 20vw, 150px);
    font-weight: 400;
    text-align: center;
    font-style: normal;
    margin-bottom: 7%;
color:rgb(237, 227, 179);
text-shadow:0 5px 10px black;
    mix-blend-mode: overlay;
    backdrop-filter: blur(8px);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100px);
    opacity: 0;
    animation: slideFade 3s ease-out forwards;
}

@keyframes slideFade {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.start-container p {
    font-family: "Chewy", serif;
    /*font-size: 7vw;*/
    font-size: clamp(16px, 7vw, 40px);
    font-style: normal;
    color: yellow;
    margin-bottom: 20px;
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    transform: scale(0);
    opacity: 0;
    animation: textExpand 2s ease-out forwards;
}

@keyframes textExpand {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.start-container i:first-of-type {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fffb00;
    animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.start-btn {
    position: relative;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400% 400%;
    padding:8px;
    width: auto;
    min-width: 50%;
    /*max-width: 200px;*/
    height: auto;
    margin-bottom:20%;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Chewy", serif;
    font-size: 7vw;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    cursor: pointer;
    animation: fadeIn 0.5s ease-out forwards, animate 12s linear infinite;
        animation-delay: 0.5s, 0s;
    z-index: 1;
    opacity: 0;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.start-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
    border-radius: 10px;
}


@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.start-btn:hover {
    scale: 1.05;
}

.start-container i:nth-of-type(2){
    font-size: 100px;
    /*margin-bottom: 20px;*/
    color: gold;
}


.loader {
    width: 300px;
    height: auto;
    border-radius: 20px;
    color: #7d36e0;
    border: 5px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader p {
font-family: "Chewy", serif;
    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.1em;
    color: #dfdf14;
    padding:10px;
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: linear-gradient(45deg, #002bff, #7a00ff, #ff00c8);
    animation: l6 6s infinite;
    z-index: -1;
}

@keyframes l6 {
    100% {
        inset: 0
    }
}

.theme-container {
    width: 100%;
    display:none;
    margin-top:30px;
}

.theme-container-h2{
    position: fixed;
    display: block;
    left:50%;
    transform:translateX(-50%);
        /*margin: 20px auto;
        text-align: center;*/
        background:rgb(60, 60, 205, 0.5);
        width: 80%;
        min-height: calc(var(--vh, 1vh) * 10);
        max-height: calc(var(--vh, 1vh) * 10);
        border-radius: 10px;
        /*margin-bottom:20px;*/
        box-shadow: 2px 10px 20px rgb(237, 227, 179);
        margin:bottom:30px;
   }

 .theme-container h2 {
    font-family: "Chewy", serif;
     font-size: clamp(20px, 13vw, 60px);
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    text-align:center;
    padding:5px;
    white-space: nowrap;
}

#theme-selection {
    display: flex;
    flex-direction: column; /* Elementai dėstomi stulpeliu */
    align-items: center; /* Centruojami horizontaliai */
    width: 100%;
    margin-top:23%;
    overflow:scroll;
    height:calc(var(--vh, 1vh) * 80);
}

.theme-btn {
    position: relative;
    width: 60%;
    max-width: 400px;
    margin: 7px;
    padding:5px;
    /*height: 70px;*/
    min-height: 90px;
    font-family: "Chewy", serif;
    font-size: clamp(12px, 4vw, 16px);
    /*font-size: clamp(16px, 5vw, 24px);*/
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.theme-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
}

.theme-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
    transition: .5s;
}

button:hover::after {
    left: 100%;
}

.theme-span-btn {
    position: absolute;
    background: var(--theme-color);
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 3px;
    border-radius: 2000px / 50px;
    box-shadow:
        0 0 10px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 40px var(--theme-color),
        0 0 80px var(--theme-color),
        0 0 160px var(--theme-color);

}

.theme-span-btn::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    background: var(--theme-color);
    border-radius: 2000px / 50px;
    box-shadow:
        0 0 10px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 40px var(--theme-color),
        0 0 80px var(--theme-color),
        0 0 160px var(--theme-color);
}

.theme-span-btn::after {
    content: '';
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: var(--theme-color);
    border-radius: 2000px / 50px;
    box-shadow:
        0 0 10px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 40px var(--theme-color),
        0 0 80px var(--theme-color),
        0 0 160px var(--theme-color);
}

.theme-span-btn:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 3px;
    height: 60%;
    border-radius: 70px / 2000px;

}

.extra-span {
    position: absolute;
    background: var(--theme-color);
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 3px;
    height: 60%;
    border-radius: 70px / 2000px;
    box-shadow:
        0 0 10px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 20px var(--theme-color),
        0 0 40px var(--theme-color),
        0 0 80px var(--theme-color),
        0 0 160px var(--theme-color);
}

.theme-span-btn:nth-child(2)::after {
    display: none;
}


.quiz-container {
display:none;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 5px;
    position: relative;
    padding:3px;
    width:90%;
}



/*.quiz-container h2 {

    min-width:90%;
    font-size: clamp(1.3rem, 4vw, 3rem);
    margin: 15px 5px 50px 5px;
    padding: 5px 20px 5px 20px;
    background: inherit;
    color: #fff;
    box-shadow: 5px 5px 20px white;
    height: calc(var(--vh, 1vh) * 20);
    max-height: calc(var(--vh, 1vh) * 20);
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.quiz-container h2::-webkit-scrollbar {
    display: none; /
}*/
.quiz-container h2 {
    min-width: 90%;
    font-size: clamp(1.3rem, 4vw, 3rem);
    margin: 15px 5px 50px 5px;
    padding: 5px 20px 5px 20px;
    background: inherit;
    color: #fff;
    box-shadow: 5px 5px 20px white;
    height: calc(var(--vh, 1vh) * 20); /* Nustatome fiksuotą aukštį */
    max-height: calc(var(--vh, 1vh) * 20); /* Apribojame maksimalų aukštį */
    border-radius: 15px;
   /* display: flex; */ /* Pašaliname flex */
   /* align-items: center; */ /* Pašaliname align-items */
    text-align: center;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto; /* Įjungiamas vertikalus slinkimas */
    overflow-x: hidden; /* Paslepia horizontalų turinį */
    scrollbar-width: none; /* Paslepia slinkties juostą Firefox */
    -ms-overflow-style: none; /* Paslepia slinkties juostą IE/Edge */
    word-break: break-word; /* Leidžia ilgiems žodžiams lūžti į naujas eilutes */
    position: relative; /* Pridedame, kad galetume vidinį elementą pozicionuoti */
}

.quiz-container h2 > * {
   position: absolute;
    top: 0; /* Pridedame, kad tekstas būtų viršuje */
    left: 0;
    right: 0;
    bottom:0; /* Pridedame, kad tekstas būtų viršuje */
    padding: 5px 20px; /* Pridedame atstumą, kad tekstas nesiliestų su kraštais */
}

.quiz-container h2::-webkit-scrollbar {
    display: none; /* Paslepia slinkties juostą Chrome, Safari ir Operoje */
}



.points-value {
    position: absolute;
    width: 200px;
    height: calc(var(--vh, 1vh) * 7);
    top: 19%;
    left: 50%;
    padding: 3px;
    transform: translateX(-50%) scaleX(0.9);
    background: rgb(155, 75, 239);
    border: 4px solid gold;
    border-radius: 50px / 15px;
    text-align: center;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    color: gold;
    /*font-size: 25px;*/
    font-size: clamp(24px, 5vw, 35px);
}

#answer-button{
    overflow: scroll;
    width: 100%;
    max-height: 30%;
    background: #bfff80;
     display: flex; /* Pridėta flex sistema */
        flex-direction: column; /* Išdėstomi stulpeliu */
        align-items: center; /* Centruojama */
}

.btn, .incorrect-answer-btn, .correct-answer-btn {
    /*width: 300px;
    max-width: 300px;*/
    width: 80%;
        max-width: 400px;
    min-height: calc(var(--vh, 1vh) * 9);
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: 7px 5px 8px black;
    box-shadow: 10px 10px 20px rgb(76, 15, 199);
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: clamp(16px, 5vw, 30px);
    white-space:wrap;

}



.btn:hover {
    scale: 1.05;
    /* background: grey; */
}

.incorrect-answer-btn {
    animation: incorrect 0.5s ease-in-out 3;

}

@keyframes incorrect {

    0%,
    100% {
        background-color: #ff0000;
    }

    25%,
    75% {
        background-color: #ff8080;
    }

    50% {
        background-color: white;
    }

}

.correct-answer-btn {
    animation: correct 0.5s ease-in-out 3;

}

@keyframes correct {

    0%,
    100% {
        background-color: #48ff00;
    }


    25%,
    75% {
        background-color: #bfff80;
    }

    50% {
        background-color: white;
    }

}

.helper-container {
    position: absolute;
    border-top: 5px solid rgb(32, 182, 180);
    border-radius: 2000px / 200px;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    /* z-index: 1; */
}

.icon {
    margin-top: 10px;
}

.icon p{
font-size:24px;
font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
letter-spacing: 0.03em;
color:yellow;
}


.helper-container button {
    padding: 5px;
    font-size: 40px;
    border: none;
    background-color: inherit;
}


.mobile-container {
    position: absolute;
    bottom: -100px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
    animation: movebottom 0.6s ease-out forwards;
  }

  @keyframes movebottom {
    0% {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -46%);
        opacity: 1;
    }
}

  .icon-wrapper {
    position: relative;
    display: inline-block;
  }

  .clone-mobile {
    font-size:375px;
    color: black;
    position: relative;
  }

  .mobile-screen {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 270px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-screen p{
    width: 95%;
    word-wrap: break-word;
    white-space: normal;
    color: #48ff00;
    padding: 5px;
    font-family: "Chewy", serif;
    font-size: 24px;
    font-weight: 400;
  }

  .mobile-close-btn{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: none;
    cursor: pointer;
  }

  .mobile-close-btn:hover{
    background: #7d31ee;
    box-shadow: 0 0 20px 10px #7d31ee;
    color: white;
  }


#score{
position:fixed;
top:50%;
left:50%;
transform: translate(-50%, -50%);
width: 90%;
    display: none;
    text-align:center;

}

.table {
    width: 100%;
    max-height: calc(var(--vh, 1vh) * 90);
    border-collapse: separate;
    /* table-layout: fixed;  */
    margin-top: 10px;
    border-spacing: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.table tr {
    border: 4px solid gold;
    border-radius: 15px;
    margin: 5px 0;
}

.table tr td {
    display: block;
    text-align: center;
    padding: 10px 15px;
    height: auto;
    color: gold;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    /*font-size: 18px;*/
    font-size: clamp(18px, 2vw, 24px);
    font-weight: bold;
    text-shadow: 2px 1px 1px rgb(10, 10, 10);


}

tr:nth-child(1) td {
    width: 190px;
}

tr:nth-child(2) td {
    width: 200px;
}

tr:nth-child(3) td {
    width: 210px;
}

tr:nth-child(4) td {
    width: 220px;
}

tr:nth-child(5) td {
    width: 230px;
}

tr:nth-child(6) td {
    width: 240px;

}

tr:nth-child(7) td {
    width: 250px;

}

tr:nth-child(8) td {
    width: 260px;

}

tr:nth-child(9) td {
    width: 270px;
}

tr:nth-child(10) td {
    width: 280px;
}
tr:nth-child(11) td {
    width: 290px;
}
tr:nth-child(12) td {
    width: 300px;
}
tr:nth-child(13) td {
    width: 310px;
}
tr:nth-child(14) td {
    width: 320px;
}
tr:nth-child(15) td {
    width: 330px;
}


.correct {
    background-color: rgb(105, 237, 35);
}

.incorrect {
    background-color: rgb(237, 35, 35);
}


.popup, .lost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: calc(var(--vh, 1vh) * 30);
    background: #7a00ff;
    /*border: 10px dotted gold;*/
    border-radius: 25px;
    font-size: 2.2rem;
    text-align: center;
        font-family: "Coiny", serif;
        font-weight: 400;
        font-style: normal;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
color: gold;
}

.popup{
box-shadow: 0 0 20px gold;
}

.lost{
box-shadow: 0 0 20px red;
}

.popup::before, .lost::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 25px;
    border: 10px dotted gold;
    opacity: 1;
    animation: fade-dots 0.3s linear infinite alternate;
}

.popup::before {
    border: 10px dotted gold;
}

.lost::before{
border: 10px dotted red;
}

/* Animacija: kas antras taškas keičia opacity */
@keyframes fade-dots {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}


.finished-container {
    position: fixed;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    /* margin: 15px 25px 50px 25px; */
    padding: 5px 20px 5px 20px;
    /* height: auto; */
    background: inherit;
    color: gold;
    box-shadow: 5px 5px 20px gold;
    /* max-height: 50vh; */
    border-radius: 15px;
    display: none;
    align-items: center;
    text-align: center;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}

#again-btn {
    width: 500px;
    max-width: 250px;
    min-height: calc(var(--vh, 1vh) * 9);
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: 7px 5px 9px black;
    box-shadow: 10px 10px 20px rgb(76, 15, 199);
    background: rgb(182, 240, 8);
    font-size: 1.5rem;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 20px;
}

#return-btn {
    width: 500px;
    max-width: 250px;
    min-height: calc(var(--vh, 1vh) * 9);
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: 7px 5px 9px black;
    box-shadow: 10px 10px 20px rgb(76, 15, 199);
    background: rgb(240, 132, 8);
    font-size: 1.5rem;
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 20px;
}

.bubble-container {
    position: fixed;
    /*background:black;*/
    bottom: 5px;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    display: none;
    overflow: hidden;
    z-index: -1;
  }

  .bubble {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, gold, #FFFACD);
    border-radius: 50%;
    animation: rise 5s linear forwards;
  }

  @keyframes rise {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(calc(var(--vh, 1vh) * -100));
      opacity: 0;
    }
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    width:90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#modal-close{
padding:10px;
border:none;
background:inherit;
}






